.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5c7149;
  color: white;
  padding: 5px 0;

  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.footer.show {
  display: block;
}

.footer p {
  font-family: "Hanken Grotesk";
}
