<section class="about-container">
  <h1 id="header">Om oss</h1>
  <p>
    Vi är en grupp på nio studenter från en yrkeshögskola som tillsammans har
    skapat denna webbapplikation som en del av vår utbildning. Vår grupp består
    av fyra UX-studenter och fem Javautvecklare, och projektet har genomförts
    inom kursen Agil projektmetodik samt våra respektive kurser: Ramverk och
    Frontend samt Visuell Design. Genom samarbetet har vi kombinerat teknisk
    utveckling med användarcentrerad design för att skapa en tillgänglig och
    inspirerande träningsplattform för seniorer.
  </p>
  <p>
    Innehållet i våra träningspass har tagits fram med hjälp av AI och baseras
    på rekommendationer från Folkhälsomyndigheten, fysioterapeuter och beprövade
    träningsprinciper för seniorer. Vi har kombinerat AI-genererade förslag med
    insikter från sjukgymnaster, träningsguider och digitala verktyg för att
    skapa anpassade övningar som främjar balans, rörlighet och styrka. Vårt mål
    är att erbjuda ett tryggt och effektivt träningsupplägg som stödjer en aktiv
    och hälsosam livsstil.
  </p>
</section>
