<section class="about-container">

  <div class="textHolder">
    <div>
      <h2>Vilka är vi?</h2>
      <p>
        Vi är en grupp av nio studenter från en yrkeshögskola som tillsammans
        har utvecklat denna webbapplikation som en del av vår utbildning.
        Projektet har genomförts inom kurserna Agil metodik & arbetssätt,
        Ramverk & Frontend och Visuell Design. 
        <br><br>
        Vi - fyra UX-studenter och fem
        Javautvecklare - har kombinerat teknisk utveckling med användarcentrerad
        design för att skapa en tillgänglig, inspirerande och trygg
        träningsplattform för seniorer.
      </p>
    </div>
    <div>
      <h2>Hur har vi utformat träningen?</h2>
      <p>
        Övningarna är framtagna med hjälp av AI och bygger på rekommendationer
        från exempelvis Folkhälsomyndigheten, fysioterapeuter och beprövade
        träningsprinciper. 
        <br><br>
        Genom att kombinera AI-genererade förslag med
        insikter från sjukgymnaster och träningsguider har vi skapat anpassade
        övningar som främjar styrka, rörlighet och uthållighet för att du ska
        känna dig stark i vardagen.
      </p>
    </div>
    <div>
      <h2>Varför gör vi det?</h2>
      <p>
        Genom vårt projektarbete vill vi inspirera och motivera personer från 65
        år och uppåt att må bättre och stärka sin hälsa genom enkla och
        skonsamma övningar som kan utföras i hemmet, särskilt anpassade för
        äldre.
      </p>
      <h2>Vad är vårt mål?</h2>
      <p>
        Vi har som mål är att göra träning trygg, effektiv och inspirerande - så
        att fler kan leva ett aktivt och hälsosamt liv.
      </p>
    </div>
    <img src="../../assets/logo-small.png" alt="logo" class="logoSmall">
  </div>
  <div class="images">
    <img src="../../assets/element-logo-left.png" alt="logo" />
    <img src="../../assets/element-logo-right.png" alt="logo" />
  </div>
</section>
