<main>
  <section class="hero-image">
    <div class="hero-content">
      <img src="assets/logga.png" alt="logo" class="logo" />
      <div class="separator"></div>
      <h1>
        <span class="light">STARKA</span>
        <br />
        <span class="bold">ÅR</span>
      </h1>
    </div>

    <div class="about-us">
      <button (click)="jumpToId('scrollToAboutUs')">Om oss</button>
    </div>
  </section>
</main>
<router-outlet></router-outlet>

<app-about></app-about>
<br /><br /><br /><br>
<footer id="scrollToAboutUs">
  <app-footer></app-footer>
</footer>
