<main>
  <section class="hero-image">
    <div class="hero-content">
      <img src="assets/logga.png" alt="logo" class="logo" />
      <div class="separator"></div>
      <h1>
        <span class="light">STARKA</span>
        <br />
        <span class="bold">ÅR</span>
      </h1>
    </div>
    <div class="hero-text">
      <p>Dina handlingar idag <strong>formar din morgondag</strong></p>
    </div>
    <div class="about-us">
      <button (click)="aboutUs()">Om oss</button>
    </div>
  </section>
  <div class="startButton">
    <button (click)="buttonChoice()">
      Starta här <br />
      <i class="arrow down"></i>
    </button>
  </div>

  <section class="firstText">
    <h2>
      <strong>Enkla</strong> övningar som hjälper dig att stärka din kropp
      <br />
      och öka din rörlighetsförmåga i vardagen
    </h2>
    <p>Välj din intensitet</p>
  </section>

  <div class="buttonContainer">
    <button
      class="choiceButton"
      [ngClass]="{ selected: selectedDifficultyIndex === 1 }"
      (click)="difficultyChoice('beginner', 1)"
    >
      Nybörjare
      <span class="small-text"
        >Är du precis i startgroparna att förbättra din hälsa? <br />
        Börja här!
      </span>
      <div class="dots" id="StartButton">
        <span class="dot"></span>
      </div>
    </button>
    <button
      class="choiceButton"
      [ngClass]="{ selected: selectedDifficultyIndex === 2 }"
      (click)="difficultyChoice('easy', 2)"
    >
      Lätt
      <span class="small-text"
        >Du är igång - bra jobbat! Här hittar du skonsamma övningar som stärker
        kroppen.</span
      >
      <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </button>
    <button
      class="choiceButton"
      [ngClass]="{ selected: selectedDifficultyIndex === 3 }"
      (click)="difficultyChoice('intermediate', 3)"
    >
      Medel
      <span class="small-text"
        >Redo för nästa steg? Här får du en lagom utmaning för styrka och
        uthållighet.</span
      >
      <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </button>
    <button
      class="choiceButton"
      [ngClass]="{ selected: selectedDifficultyIndex === 4 }"
      (click)="difficultyChoice('advanced', 4)"
    >
      Utmanande
      <span class="small-text"
        >Du är stark och vill ha mer! Utmaningar för att behålla kraft och
        rörlighet.</span
      >
      <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </button>
  </div>

  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

  <section class="firstText">
    <p>Välj hur du vill stärka dig</p>
  </section>
  <div id="ExerciseChoice">
    <button
      class="exerciseButton strength"
      [ngClass]="{ selected: selectedExerciseDifficultyIndex === 1 }"
      (click)="exerciseTypeChoice('strength', 1)"
    >
      <span id="spanText">Fysik</span>
    </button>

    <button
      class="exerciseButton cardio"
      [ngClass]="{ selected: selectedExerciseDifficultyIndex === 2 }"
      (click)="exerciseTypeChoice('cardio', 2)"
    >
      <span id="spanText">Uthållighet</span>
    </button>

    <button
      class="exerciseButton everyday-exercise"
      [ngClass]="{ selected: selectedExerciseDifficultyIndex === 3 }"
      (click)="exerciseTypeChoice('Vardagsmotion', 3)"
    >
      <span id="spanText">Vardagsmotion</span>
    </button>
    <button
      class="exerciseButton balance"
      [ngClass]="{ selected: selectedExerciseDifficultyIndex === 4 }"
      (click)="exerciseTypeChoice('balance', 4)"
    >
      <span id="spanText">Balans & Rörlighet</span>
    </button>
  </div>

  <app-workout-component id="workoutComponent"></app-workout-component>
  <app-about ></app-about>
</main>

<footer id="AboutUs">
  <app-footer></app-footer>
</footer>
