/* översta texten */
.swiperHeader {
  font-family: "Hanken Grotesk";
  text-align: center;
  color: #310b02;
  font-size: 25px;
}

/* container som innehåller alla komponenter */
.swiperContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  width: 99vw;
}

/* pil som pekar åt höger */
.arrowRight {
  cursor: pointer;
  width: 34px;
  height: 34px;
  background-color: #310b02;
  clip-path: path(
    "M0.000,7.000 Q0,0 6.2610,3.1303L27.0723,13.5363 Q33.3333,16.6667 27.0723,19.7970L6.2610,30.2030 Q0,33.3333 0.000,26.3333Z"
  );
}

/* pil som pekar åt vänster */
.arrowLeft {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #310b02;
  clip-path: path(
    "M33.333,7.000 Q33.333,0 27.0723,3.1303L6.2610,13.5363 Q0,16.6667 6.2610,19.7970L27.0723,30.2030 Q33.333,33.3333 33.333,26.3333Z"
  );
}

/* centrerade innehållet emellan pilarna */
.selectedContent {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #310b02;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: bold;
  width: 250px;
  height: 100px;
  padding: 20px;
  margin: 0 50px;
  position: absolute;
}
/*streck*/
.line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
}
.lineUp {
  margin-bottom: 120px;
}

.lineBottom {
  margin-top: 120px;
}

/* mask innehållet emellan pilarna */
.contentMask {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 200px;
  margin: 0 10px;
  clip-path: inset(0px);
}
/* innehåll som roterar */
.waitingContent {
  position: absolute;
  transform: translateX(-350px);
}

.dotsContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 75px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: 2px solid #5c7149;
  border-radius: 50%;
}

.dotSelected {
  background-color: #5c7149 !important;
}
