.buttonContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: auto;
  padding: 40px 0;
}

.choiceButton {
  background-color: #415338;
  color: #ffffff;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 200px;
  padding: 20px;
  overflow: hidden;
}

.choiceButton h2 {
  text-align: center;
  font-size: 24px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: medium;
  padding-bottom: 0;
}

.choiceButton span {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 19px;
  font-weight: bold;
}

.dots {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

.exerciseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21.875rem;
  height: 12.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  transition: transform 0.1s;
  font-family: "Hanken Grotesk", sans-serif;
  color: #ffffff;
  padding: 20px;
}

.exerciseButton:hover {
  transform: scale(1.05);
}

.spanText {
  font-family: "Hanken Grotesk";
  text-align: center;
  padding-top: 70px;
}

.spanText h2 {
  font-size: 24px;
  font-weight: medium;
}

.spanText p {
  font-size: 19px;
  font-weight: bold;
}

.strength {
  background-image: url("/assets/Styrka.png");
}

.cardio {
  background-image: url("/assets/Cardio.png");
}

.everyday-exercise {
  background-image: url("/assets/Vardagsmotion.png");
}

.balance {
  background-image: url("/assets/Rorlighet.png");
}

.choiceButton:hover {
  transform: scale(1.05);
}

.selected.choiceButton {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid #415338;
  color: #415338;
  cursor: default;
}

.selected:hover {
  transform: none;
}

.selected .dot {
  background-color: #415338;
}

.firstText {
  font-family: "Hanken Grotesk";
  text-align: center;
  color: #310b02;
}

.firstText h2 {
  font-size: 30px;
  font-weight: lighter;
}

.firstText strong {
  font-weight: bold;
}

.firstText p {
  font-size: 30px;
  margin: 0;
  padding-top: 5rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .buttonContainer {
    grid-template-columns: 1fr;
  }

  .choiceButton {
    width: 100%;
    max-width: 350px;
    margin: auto;
  }

  .exerciseButton {
    width: 100%;
    max-width: 350px;
    margin: auto;
  }
}

@media (max-width: 1024px) {
  .firstText h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .firstText h2 {
    font-size: 1rem;
    padding: 10px;
  }
}
