<main>
  <section class="firstText">
    <h2>
      <strong>
        Enkla övningar som hjälper dig att må bra och stärka din kropp i
        vardagen.
      </strong>
      <br />
      <strong> Dina handlingar idag formar din morgondag. </strong>
    </h2>
    <div class="startButton">
      <button (click)="jumpToId('scrollToLevelChoice')">
        Starta här <br />
        <i class="arrow down"></i>
      </button>
    </div>
    <p>Välj din nivå</p>
  </section>

  <div class="buttonContainer">
    <button
      class="choiceButton"
      [ngClass]="{ selected: selectedDifficultyIndex === 1 }"
      (click)="difficultyChoice('beginner', 1)"
    >
      <h2>Nybörjare</h2>
      <span
        >Är du precis i startgroparna att förbättra din hälsa? <br />
        Börja här!
      </span>
      <div class="dots" id="scrollToLevelChoice">
        <img
          [src]="
            getToggledIndex() === 1
              ? '../../assets/BlackSmallLogo.png'
              : '../../assets/vit_ikon.png'
          "
          class="dot"
        />
      </div>
    </button>
    <button
      class="choiceButton"
      [ngClass]="{ selected: selectedDifficultyIndex === 2 }"
      (click)="difficultyChoice('easy', 2)"
    >
      <h2>Enkel</h2>
      <span
        >Du är igång - bra jobbat! Här hittar du skonsamma övningar som stärker
        kroppen.</span
      >
      <div class="dots">
        <img
          [src]="
            getToggledIndex() === 2
              ? '../../assets/BlackSmallLogo.png'
              : '../../assets/vit_ikon.png'
          "
          class="dot"
        />
        <img
          [src]="
            getToggledIndex() === 2
              ? '../../assets/BlackSmallLogo.png'
              : '../../assets/vit_ikon.png'
          "
          class="dot"
        />
      </div>
    </button>
    <button
      class="choiceButton"
      [ngClass]="{ selected: selectedDifficultyIndex === 3 }"
      (click)="difficultyChoice('intermediate', 3)"
    >
      <h2>Medel</h2>
      <span
        >Redo för nästa steg? Här får du en lagom utmaning för styrka och
        uthållighet.</span
      >
      <div class="dots">
        <img
          [src]="
            getToggledIndex() === 3
              ? '../../assets/BlackSmallLogo.png'
              : '../../assets/vit_ikon.png'
          "
          class="dot"
        />
        <img
          [src]="
            getToggledIndex() === 3
              ? '../../assets/BlackSmallLogo.png'
              : '../../assets/vit_ikon.png'
          "
          class="dot"
        />
        <img
          [src]="
            getToggledIndex() === 3
              ? '../../assets/BlackSmallLogo.png'
              : '../../assets/vit_ikon.png'
          "
          class="dot"
        />
      </div>
    </button>
    <button
      class="choiceButton"
      [ngClass]="{ selected: selectedDifficultyIndex === 4 }"
      (click)="difficultyChoice('advanced', 4)"
    >
      <h2>Utmanande</h2>
      <span
        >Du är stark och vill ha mer! Utmaningar för att behålla kraft och
        rörlighet.</span
      >
      <div class="dots">
        <img
          [src]="
            getToggledIndex() === 4
              ? '../../assets/BlackSmallLogo.png'
              : '../../assets/vit_ikon.png'
          "
          class="dot"
        />
        <img
          [src]="
            getToggledIndex() === 4
              ? '../../assets/BlackSmallLogo.png'
              : '../../assets/vit_ikon.png'
          "
          class="dot"
        />
        <img
          [src]="
            getToggledIndex() === 4
              ? '../../assets/BlackSmallLogo.png'
              : '../../assets/vit_ikon.png'
          "
          class="dot"
        />
        <img
          [src]="
            getToggledIndex() === 4
              ? '../../assets/BlackSmallLogo.png'
              : '../../assets/vit_ikon.png'
          "
          class="dot"
        />
      </div>
    </button>
  </div>

  <br /><br /><br /><br /><br /><br /><br /><br />

  <section class="firstText" id="ExerciseChoice">
    <p>Välj vad du vill fokusera på idag</p>
  </section>
  <div class="buttonContainer">
    <button
      class="exerciseButton strength"
      [ngClass]="{ selected: selectedExerciseDifficultyIndex === 1 }"
      (click)="exerciseTypeChoice('strength', 1)"
    >
      <div class="spanText">
        <h2>Styrka</h2>
        <p>Stärk hela kroppen och känn skillnaden, ett steg åt gången.</p>
      </div>
    </button>

    <button
      class="exerciseButton cardio"
      [ngClass]="{ selected: selectedExerciseDifficultyIndex === 2 }"
      (click)="exerciseTypeChoice('cardio', 2)"
    >
      <div class="spanText">
        <h2>Uthållighet</h2>
        <p>Bygg uthållighet i ditt eget tempo - och orka mer.</p>
      </div>
    </button>

    <button
      class="exerciseButton everyday-exercise"
      [ngClass]="{ selected: selectedExerciseDifficultyIndex === 3 }"
      (click)="exerciseTypeChoice('everydayExercise', 3)"
    >
      <div class="spanText">
        <h2>Vardagsmotion</h2>
        <p>Känn igen din vardagsträning och hitta glädjen att göra mer.</p>
      </div>
    </button>
    <button
      class="exerciseButton balance"
      [ngClass]="{ selected: selectedExerciseDifficultyIndex === 4 }"
      (click)="exerciseTypeChoice('balance', 4)"
    >
      <div class="spanText">
        <h2>Rörlighet</h2>
        <p>Sköna rörelser som ger dig mer frihet i vardagen.</p>
      </div>
    </button>
  </div>

  <br /><br /><br /><br /><br /><br /><br /><br />

  <app-workout-component
    id="workoutComponent"
    (newValueSelected)="updateSelectedDifficulty($event)"
  ></app-workout-component>

  <br /><br /><br /><br /><br />
</main>
