.workoutCard {
  background-color: #ffffff;
  color: #000000;
  font-family: "Hanken Grotesk";
  display: flex;
  width: 60vw;
  margin: 1.5rem auto;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 15px;
}

.workoutImage {
  width: 50%;
  height: 205px;
  background-color: #000000;
  border-radius: 15px;
}

.workoutDescription {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  width: 50%;
  gap: 15px;
}

.workoutDescription h3 {
}

.workoutSpecifics {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20%;
}

.workoutTags {
  display: flex;
  gap: 10px;
}

#time {
  background-color: #8391ba;
  padding: 5px 10px;
  border-radius: 50px;
}

#level {
  background-color: #535740;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 50px;
}

#win {
  background-color: #f2c778;
  padding: 5px 10px;
  border-radius: 50px;
}

#equipment {
  background-color: #7f6a58;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 50px;
}

.workoutArrow {
  border: solid #000000;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.workoutCardExtended {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: "Hanken Grotesk";
  border-radius: 15px;
  width: 60vw;
  margin: 1.5rem auto;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
}

.exerciseImage img {
  width: 100%;
}

.workoutInfo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.workoutInfoColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
}

.imageSizer {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exerciseInfo {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrowUpHolder {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.hidden {
  visibility: hidden;
  position: fixed;
}

.navButtons {
  display: flex;
  justify-content: space-around;
  margin: 25px 25px 50px 25px;
}

.navButtons div {
  display: flex;
  border: 2px solid black;
  align-items: center;
  border-radius: 50px;
  padding: 10px 20px;
  white-space: nowrap;
  gap: 10px;
  cursor: pointer;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
}

#finishButton {
  background-color: #f2c778;
  color: black;
}

.workoutFinished {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  width: 40vw;
  height: 80vh;
  font-family: "Hanken Grotesk";
  padding-bottom: 50px;
}

.workoutFinished img {
  width: 250px;
  height: 250px;
}

.buttonHolder {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.buttonHolder div {
  padding: 15px 90px;
  border-radius: 50px;
  cursor: pointer;
}

#finished {
  background-color: #f2c778;
}

#again {
  background-color: #535740;
  color: #ffffff;
}

.content{
  display: flex;
  flex-direction: column;
  width:100%;
}
.headerInfo{
  display: flex;
  justify-content:  space-between;
  width:100%;
}
.info{
  display: flex;
  gap:10px;
}

.doneBtn{
  background-color: #5c7149;
  color: #ffffff;
}

@media (max-width: 768px) {
  .workoutCard {
    flex-direction: column;
    width: 95vw;
  }

  .workoutImage {
    width: 100%;
    height: 200px;
  }

  .workoutDescription {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .workoutDescription h3 {
    margin: 0;
    font-size: 1.2rem;
  }

  .workoutSpecifics {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }

  .workoutTags {
    flex-wrap: wrap;
    gap: 5px;
  }

  .workoutArrow {
    align-self: flex-start;
  }

  .workoutCardExtended {
    width: 95vw;
  }

  .exerciseImage {
    width: 100%;
  }

  .exerciseImage img {
    width: 100%;
  }

  .workoutInfo {
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .workoutInfoColumn {
    display: flex;
    width: 40%;
  }

  .workoutInfoColumn p {
    font-size: 0.75rem;
    text-align: center;
    margin: 2px 0;
  }

  .imageSizer {
    width: 40px;
    height: 40px;
  }

  .navButtons div p {
    visibility: hidden;
    position: absolute;
  }

  .workoutFinished {
    width: 95vw;
    height: 80vh;
  }

  .workoutFinished img {
    width: 250px;
    height: 250px;
  }

  .buttonHolder {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .exerciseInfo {
    align-items: stretch;
    justify-content: center;
  }

  .arrowUpHolder {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arrowUpHolderMobile {
    display: flex;
  }
}

@media (max-width: 1024px) {
  .workoutCard {
    width: 80vw;
  }

  .workoutCardExtended {
    width: 80vw;
  }

  .workoutTags {
    align-items: center;
  }

  .workoutFinished {
    width: 80vw;
    height: 50vh;
  }
}
