/* You can add global styles to this file, and also import other style files */

body,
html {
  height: 100%;
  background-color: #d2c8bc;
  margin: 0;
  padding: 0;
}

.hero-image {
  background-image: linear-gradient(
      rgba(210, 200, 188, 0) 70%,
      rgba(210, 200, 188, 1) 100%
    ),
    url("assets/header.jpg");
  height: 50vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
}

.hero-content {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
}

.hero-text {
  font-family: "Hanken Grotesk";
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 10px;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  font-size: 20px;
  border-radius: 30px;
}

.hero-text strong {
  font-style: italic;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 8px;
}

.separator {
  width: 1px;
  height: 60px;
  background-color: white;
  margin-right: 9px;
}

h1 {
  font-family: "Hanken Grotesk";
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
}

.light {
  font-style: italic;
  font-weight: 100;
}

.bold {
  font-style: italic;
  font-weight: bold;
}

.bold-text {
  font-weight: bold;
}

.about-us {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  /*height: 100vh;*/
  padding-top: 3rem;
  padding-right: 5rem;
}

.about-us button {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  font-size: x-large;

}

.firstText {
  font-family: "Hanken Grotesk";
  text-align: center;
  color: #310b02;
}

.firstText h2 {
  font-size: 30px;
  font-weight: lighter;
}

.firstText strong {
  font-weight: bold;
}

.firstText p {
  font-size: 30px;
  margin: 0;
  padding-top: 5rem;
  font-weight: bold;
}

.startButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -20px;
}

.startButton button {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  font-size: large;
}


.arrow {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media (max-width: 1024px) {
  .hero-image {
    height: 40vh;
  }

  .hero-text {
    font-size: 2vw;
    padding: 5%;
  }

  h1 {
    font-size: 1.2rem;
  }

  .firstText h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .hero-image {
    height: 30vh;
  }

  .hero-text {
    font-size: 4vw;
  }

  h1 {
    font-size: 1rem;
  }

  .firstText h2 {
    font-size: 1rem;
    padding: 10px;
  }
}
