<div *ngIf="filteredExercises.length > 0; else noExercises">
  <!--Man skickar in displayText med alla värden som slidern kan ha och
currentValue bestämmer vilken metod som ska köras (och ta emot vilket värde som är valt)-->
<app-swiper [displayText]="['Nybörjare', 'Lätt', 'Medel', 'Utmanande']" (currentValue)="receiveValue($event)">  </app-swiper>

  <h2>
    Pass för {{ translate(filteredExercises[0].category) }} -
    {{ translate(filteredExercises[0].level) }}
  </h2>
  <div class="exerciseGrid">
    <div *ngFor="let exercise of filteredExercises">
      <div
        class="exerciseCard"
        (click)="test(exercise); jumpToId('scrollToChosenExercise')"
      >
        <h3 class="exerciseTitle">{{ exercise.name }}</h3>
      </div>
    </div>
  </div>
</div>
<!--alla övningar från det valda passet-->

<div *ngFor="let e of selectedExercises" class="workoutText">
  <!--<div class="icons">
    <img src="assets/timer.svg" alt="timer" />
    <img src="assets/star.svg" alt="star" />
    <img src="assets/Heart.svg" alt="heart" />
    <img src="assets/jumping-rope.svg" alt="jumping rope" />
  </div>
  <div class="iconText">
    <p>Varaktighet</p>
    <p>Vinst</p>
    <p>Intensitet</p>
    <p>Utrustning</p>
  </div>-->

  <h2>{{ e.name }}</h2>
  <h3>Gör såhär:</h3>
  <p>{{ e.description }}</p>
  <h3 id="scrollToChosenExercise">Antal repetitioner eller sekunder:</h3>
  <p>{{ e.repetitions }}</p>
  <h3>Tips!</h3>
  <p>{{ e.tips }}</p>
</div>

<ng-template #noExercises>
  <p class="userGuideText">Det finns inga övningar att hämta än</p>
  <div class="goBackToTopButtonHolder">
    <button class="goBackToTopButton hidden" (click)="jumpToId('StartButton')">
      Välj en svårighetsgrad först
    </button>
  </div>
</ng-template>
