.exerciseGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-content: center;
  max-width: 80%;
  margin: auto;
}

.exerciseCard {
  background-color: #535740;
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: calc(50% + 1.5rem);
  padding: 1.5rem;
  margin: 1.5rem auto;
  box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.821);
  cursor: pointer;
}

.exerciseTitle {
  font-family: "Hanken Grotesk" !important; /* important behaves like override */
  font-weight: 0 !important;
  font-style: normal !important;
  font-size: 46px !important;
}

.exerciseCard:hover {
  transform: scale(1.05);
}

.exerciseCard > h3 {
  font-size: min(2vw, 50px);
}

.exerciseCardSection {
  padding: 1.5rem;
  text-align: center;
}

.userGuideText {
  font-family: "Hanken Grotesk";
  text-align: center;
  color: #310b02;
  font-size: 25px;
}

.goBackToTopButtonHolder {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.hidden {
  display: none;
}

.goBackToTopButton {
  background-color: #535740;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: bold;
  width: 350px;
  height: 200px;
  padding: 20px;
  margin-bottom: 50px;
}

.choiceButton:hover {
  background-color: #568045; /* Ljusare grön vid hover */
  transform: scale(1.05); /* Liten effekt vid hover */
}

h2 {
  font-family: "Hanken Grotesk";
  text-align: center;
  color: #310b02;
  font-size: 30px;
  font-weight: bolder;
}
